.information-container {
  display: flex;
  flex-direction: column;
  height: 70vh;
}

.information-title {
  font-weight: 500;
}

.information-subtitle {
  font-weight: 300;
}

.information-content {
  margin-top: 20px;
  margin-bottom: 30px;
}

.information-t {
  font-weight: 400;
  margin: 0px;
}

.information-p {
  font-weight: 200;
  margin: 0px;
}

.information-d {
  font-weight: 200;
  margin: 0px;
}

.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
}

ul {
  margin: 0px;
  padding: 0px;
}

/* For Mobile */
@media screen and (max-width: 930px) {
  .information-title {
    font-size: 30px;
  }
  .information-subtitle {
    font-size: 18px;
  }
  .information-t {
    font-size: 18px;
  }
  .information-p {
    font-size: 12px;
  }
  .information-d {
    font-size: 11px;
    line-height: 1.9rem;
  }
  .skills-container {
    margin-right: -20px;
  }
}

/* For Tablets */
@media screen and (min-width: 930px) and (max-width: 1280px) {
  .information-title {
    font-size: 34px;
  }
  .information-subtitle {
    font-size: 22px;
  }
  .information-t {
    font-size: 22px;
  }
  .information-p {
    font-size: 15px;
  }
  .information-d {
    font-size: 14px;
    line-height: 2.1rem;
  }
  .skills-container {
    margin-right: -30px;
  }
}

/* For Larger */
@media screen and (min-width: 1280px) {
  .information-title {
    font-size: 38px;
  }
  .information-subtitle {
    font-size: 26px;
  }
  .information-t {
    font-size: 26px;
  }
  .information-p {
    font-size: 18px;
  }
  .information-d {
    font-size: 16px;
    line-height: 2.3rem;
  }
  .skills-container {
    margin-right: -40px;
  }
}
