.information-container {
  display: flex;
  flex-direction: column;
  height: 70vh;
}

.information-title {
  font-size: 38px;
  font-weight: 500;
}

.information-subtitle {
  font-size: 26px;
  font-weight: 300;
}

.information-content {
  font-size: 18px;
  font-weight: 200;
  margin-top: 20px;
}
