@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Poppins", "Segoe UI", "Roboto", "Droid Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

canvas {
  display: block;
  background: #1f1f1f;
  position: fixed;
  z-index: -1;
}

#root {
  position: absolute;
  background-color: transparent;
  width: 100%;
}

p {
  color: white;
  margin-top: 0px;
  margin-bottom: 15px;
  line-height: 2.5rem;
}

*:focus {
  outline: 0 !important;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
