.slider-container {
  display: flex;
  position: relative;
  align-items: center;
}
.slider-axis {
  position: absolute;
  display: flex;
  margin: 20px;
  border-radius: 75px;
  background-color: #525252;
  opacity: 0.8;
}
.slider-constraints {
  position: absolute;
  display: flex;
}
.slider-avatar {
  display: flex;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
}

/* For landscape */
@media screen and (orientation: landscape) {
  .slider-container {
    flex-direction: column;
    height: 80vh;
  }
  .slider-axis {
    top: 0;
    bottom: 0;
    width: 40%;
  }
  .slider-constraints {
    top: 0;
    bottom: 0;
    width: 100%;
  }

  /* For Mobile */
  @media screen and (max-width: 780px) {
    .slider-avatar {
      height: 100px;
    }
    .slider-width {
      width: 100px;
    }
  }

  /* For Tablets */
  @media screen and (min-width: 780px) and (max-width: 1280px) {
    .slider-avatar {
      height: 150px;
    }
    .slider-width {
      width: 150px;
    }
  }

  /* For Larger */
  @media screen and (min-width: 1280px) {
    .slider-avatar {
      height: 200px;
    }
    .slider-width {
      width: 200px;
    }
  }
}

/* For portrait */
@media screen and (orientation: portrait) {
  .slider-container {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .slider-axis {
    left: 0;
    right: 0;
    height: 40%;
  }
  .slider-constraints {
    left: 0;
    right: 0;
    height: 100%;
  }

  /* For Mobile */
  @media screen and (max-width: 780px) {
    .slider-avatar {
      width: 100px;
    }
    .slider-width {
      height: 100px;
    }
  }

  /* For Tablets */
  @media screen and (min-width: 780px) and (max-width: 1280px) {
    .slider-avatar {
      width: 150px;
    }
    .slider-width {
      height: 150px;
    }
  }

  /* For Larger */
  @media screen and (min-width: 1280px) {
    .slider-avatar {
      width: 200px;
    }
    .slider-width {
      height: 200px;
    }
  }
}
